<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Create</title>
    <link rel="stylesheet" th:href="@{/styles/codeNewStyle.css}" type="text/css">
    <script th:src="@{/js/codeNewSend.js}" type="text/javascript"></script>
</head>
<body>
<div>
    <textarea id="code_snippet" placeholder="// write your code here"></textarea>
    <div class="restriction_input">
        <label for="time_restriction">Time restriction:</label>
        <input id="time_restriction" type="text" value="0"/>
    </div>
    <div class="restriction_input">
        <label for="views_restriction">Views restriction:</label>
        <input id="views_restriction" type="text" value="0"/>
    </div>
    <button id="send_snippet" th:onclick="send()" type="submit">Submit</button>
</div>
</body>
</html>
