<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Create</title>
    <link type="text/css" th:href="@{/styles/codeNewStyle.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/codeNewSend.js}"></script>
</head>
<body>
<div>
    <textarea id="code_snippet" placeholder="// write your code here"></textarea>
    <button id="send_snippet" type="submit" th:onclick="send()">Submit</button>
</div>
</body>
</html>
